[Unit]
Description=MQTT Remote Command to MagicHome
After=network-online.target

[Service]
ExecStart=/usr/local/bin/rc2magichome.js
Restart=always

[Install]
WantedBy=multi-user.target